<h1>TOPページ</h1>
<div>
  <%= link_to "Log in", new_customer_session_path %>
</div>

<div>  
  <%= link_to "Sign up", new_customer_registration_path %>
</div>

<p>
  ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。
</p>