<div>
  <%= flash[:notice] %>
</div>

      <h1>welcom to <i></i>Nagano Cake!!</h1>

      <p>in<i></i><strong>Nagano Cake</strong>,</p>
      <div>
        <div>
          <%= link_to "Log in", new_customer_session_path %>
        </div>
        <div>  
          <%= link_to "Sign up", new_customer_registration_path %>
        </div>  
      </div>  
    </div>  
  </div>  
</div>