<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
        <!-- リンク先が完成次第コメントアウト外す -->
          <li>
            <%#= link_to '商品一覧', %>
          </li>
          <li>
            <%#= link_to '会員一覧', %>
          </li>
          <li>
            <%#= link_to '注文履歴一覧', %>
          </li>
          <li>
            <%#= link_to 'ジャンル一覧', %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>